<ul class="nav pills pull-right">

    <li>
      <div class="social"> <%=  fb_like(Setting.domain) %>  </div>
    </li>

  <% if current_user %>
  
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="<%= user_path(current_user) %>">
          <%= current_user.name %>
      </a>
      <%= render_list :class => "dropdown-menu" do |li|
          li << link_to("Logout",destroy_user_session_path, :method => :delete )
          li << link_to("Admin", admin_users_path ) if current_user.admin?
      end %>

    </li>

    <%= render :partial => "admin/menu" if current_user.admin? %>  



<% else %>
    <li> <%= link_to( "Login", "/users/auth/facebook" )  %> </li>
    
<% end %>

    <li> <%= link_to("About", "/pages/about") %> </li>
</ul>